* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #111;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    text-align: center;
}

section {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8 ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #b30000;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.order {
    text-align: center;
}

.order a {
    display: inline-block;
    background: green;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s ease;
}

.order a:hover {
    background: darkgreen;
    transform: scale(1.05);
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}

#langBtn {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 6px 14px;
    background: #b30000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
}

#address,
#phone {
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 3px solid white;
}

@media(max-width:600px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    header h1 {
        font-size: 22px;
    }

    header p {
        font-size: 14px;
    }

    section {
        margin: 8px;
        padding: 10px 16px;
    }

    #langBtn {
        font-size: 13px;
        padding: 5px 10px;
    }

    .header-flex {
        justify-content: flex-start;
        text-align: left;
    }

    .site-title h1 {
        font-size: 20px;
        margin: 0;
    }

    .site-title p {
        font-size: 13px;
        margin: 2px 0 0;
    }

    footer {
        font-size: 12px;
        padding: 5px;
    }

}

@media(min-width: 1024px) {
    section {
        max-width: 900px;
        margin: 20px auto;
    }
}